@import '~bootstrap/scss/bootstrap';

header{
    height: 80px;
}

aside{
    background-color: #dfeaf8;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075);
    height: calc(100vh - 80px);
    padding-top: 20px;

    a{
        text-decoration: none;
        color: rgb(97, 97, 97);
        transition: 0.3s;
        &:hover{
            color: rgb(23, 23, 23);
        }
    }
}

th{
    a{
        color: black;
        text-decoration: none;
        &:hover{
            color: slateblue;
            text-decoration: underline;
        }
    }
}

.main-wrapper{
    height: calc(100vh - 80px);
    overflow: auto;
}

.table-container{
    margin-top: 20px;
    width: 100%;
    min-width: 300px;
    border: 1px solid gainsboro;
    border-radius: 15px;
    overflow: auto;
}

.page-link{
    color: rgb(97, 97, 97);
}

.page-link.active, .active > .page-link{
    background-color: #dfeaf8;
    border-color: gainsboro;
    color: rgb(23, 23, 23);;
}

ol, ul, dl{
    padding: 0;
    margin-bottom: 0;
}


.show.drop-custom{
    background-color: #ffffff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.075);
    border-top:1px solid gainsboro;
    padding: 10px;
    padding-right: 10px;
    z-index: 99;
}

.ico{
    line-height: 100%;
}

.ck-editor__editable[role="textbox"] {
    /* editing area */
    height: 200px;
}

#output-image{
    max-width: 100%;
    width: 200px;
    height: 110px;
    margin-top: 10px;
}

.u{
    background-color: rgba(127, 255, 212, 0.488);
}

.search-custom{
    border: 1px solid gainsboro;
    height: 25px;
    &:focus{
        outline:2px solid slateblue;
    }
}

@media screen and (max-width: 941px) {
    .aside-wrapper span{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .search-box{
        margin-left: -50px;
    }
}

@media screen and (max-width: 370px) {
    .aside-wrapper{
        padding: 0;
        margin: 0;
    }

    .list-group-item{
        padding: 10px 6px;
    }
}

